# Lab 4

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/jlhammel/geog-510/blob/four/book/labs/lab_04.ipynb)

## Exercise 1: Variable Assignment and Basic Operations

Create variables to store the following geospatial data:

- The latitude and longitude of New York City: 40.7128, -74.0060.
- The population of New York City: 8,336,817.
- The area of New York City in square kilometers: 783.8.

Perform the following tasks:

1. Calculate and print the population density of New York City (population per square kilometer).
2. Print the coordinates in the format "Latitude: [latitude], Longitude: [longitude]".

In [304]:
PopNY = 8338817
NYki = 783.8
lat = 40.7128
long = -74.0060

In [301]:
pd = PopNY / NYki
pd

10638.960193927023

In [307]:
print("Latitude:", lat, "Longitude:", long)

Latitude: 40.7128 Longitude: -74.006

## Exercise 2: Working with Strings

Create a string variable to store the name of a city, such as "San Francisco". Perform the following operations:

1. Convert the string to lowercase and print the result.
2. Convert the string to uppercase and print the result.
3. Replace "San" with "Los" in the city name and print the new string.

In [315]:
location_name = "San Francisco"

In [316]:
location_name_lower = location_name.lower()
print(location_name_lower)

san francisco

In [317]:
location_name_upper = location_name.upper()
print(location_name_upper)

SAN FRANCISCO

In [318]:
location_name_replaced = location_name.replace("San", "Los")
print(location_name_replaced)

Los Francisco

## Exercise 3: Using Lists

Create a list of tuples, where each tuple contains the name of a city and its corresponding latitude and longitude:

- New York City: (40.7128, -74.0060)
- Los Angeles: (34.0522, -118.2437)
- Chicago: (41.8781, -87.6298)

Perform the following tasks:

1. Add a new city (e.g., Miami: (25.7617, -80.1918)) to the list.
2. Print the entire list of cities.
3. Slice the list to print only the first two cities.

In [308]:
loc = [
    ("New York", 40.7128, -74.0060),
    ("Los Angeles", 34.0522, -118.2437),
    ("Chicago", 41.8781, -87.6298),
]

In [309]:
loc.append(("Miami", 25.7617, -80.1918)) 
print("Updated locations:", loc)

Updated locations: [('New York', 40.7128, -74.006), ('Los Angeles', 34.0522, -118.2437), ('Chicago', 41.8781, -87.6298), ('Miami', 25.7617, -80.1918)]

In [310]:
subloc = loc[:2]
print(subloc)

[('New York', 40.7128, -74.006), ('Los Angeles', 34.0522, -118.2437)]

## Exercise 4: Using Tuples

Create a tuple to store the coordinates (latitude, longitude) of the Eiffel Tower: (48.8584, 2.2945). Perform the following tasks:

1. Access and print the latitude and longitude values from the tuple.
2. Try to change the latitude value to 48.8585. What happens? Explain why.

In [319]:
et = (
    48.8584,
    2.2945
)

In [320]:
latitude = et[0]
longitude = et[1]
print(f"Latitude: {latitude}, Longitude: {longitude}")

Latitude: 48.8584, Longitude: 2.2945

In [321]:
et[1] = 30.23
#You can not change it because it is a tuple and tuples can not be changed

TypeError: 'tuple' object does not support item assignment

## Exercise 5: Working with Sets

Create a set of countries you have visited, such as {"USA", "France", "Germany"}. Perform the following tasks:

1. Add a new country to the set.
2. Try to add the same country again. What happens?
3. Print the updated set.

In [322]:
countries = ["USA", "Mexico", "Canada"] 
countries = set(countries)

In [323]:
countries.add("USA")
print("Updated countries:", countries)
#It will not let me add the same county because it is a dupolicate and set does not allow duplicates

Updated countries: {'Canada', 'Mexico', 'USA'}

In [324]:
print(countries)

{'Canada', 'Mexico', 'USA'}

## Exercise 6: Working with Dictionaries

Create a dictionary to store information about a specific geospatial feature, such as a river:

- Name: "Amazon River"
- Length: 6400 km
- Countries: ["Brazil", "Peru", "Colombia"]

Perform the following tasks:

1. Add a new key-value pair to the dictionary to store the river's average discharge (e.g., 209,000 mÂ³/s).
2. Update the length of the river to 6992 km.
3. Print the dictionary.

In [325]:
river_attributes = {
    "name": "Amazon River",
    "Length": 6400,
    "countries": ("Brazil", "Peru", "Colombia"),
}

In [326]:
river_attributes["river_discharge"] = 209000 
print("Updated river attributes:", river_attributes)

Updated river attributes: {'name': 'Amazon River', 'Length': 6400, 'countries': ('Brazil', 'Peru', 'Colombia'), 'river_discharge': 209000}

In [327]:
river_attributes["Length"] = 6992  
print("Updated river attributes:", river_attributes)

Updated river attributes: {'name': 'Amazon River', 'Length': 6992, 'countries': ('Brazil', 'Peru', 'Colombia'), 'river_discharge': 209000}

In [328]:
print(river_attributes)

{'name': 'Amazon River', 'Length': 6992, 'countries': ('Brazil', 'Peru', 'Colombia'), 'river_discharge': 209000}

## Exercise 7: Nested Data Structures

Create a dictionary to represent a city that contains the city's name, population, and coordinates (latitude, longitude):

- Name: "Tokyo"
- Population: 13,515,271
- Coordinates: (35.6895, 139.6917)

Perform the following tasks:

1. Access and print the population of the city.
2. Access and print the city's latitude.
3. Update the population to 14,000,000 and print the updated dictionary.

In [329]:
city_attributes = {
    "name": "Tokyo",
    "population": 13515271,
    "coordinates": (35.6895, 139.6917),
}

In [330]:
city_population = city_attributes["population"]
print(f"Population: {city_population}")

Population: 13515271

In [331]:
city_coordinates = city_attributes["coordinates"][0]
print(f"coordinates: {city_coordinates}")

coordinates: 35.6895

In [332]:
city_attributes["population"] = 14000000
print("Updated city attributes:", city_attributes)

Updated city attributes: {'name': 'Tokyo', 'population': 14000000, 'coordinates': (35.6895, 139.6917)}

## Exercise 8: List Operations

Given the list of cities from Exercise 3, perform the following operations:

1. Sort the list of cities alphabetically by name.
2. Create a new list that contains only the city names.
3. Remove the last city from the original list and print the updated list.

In [333]:
loc = [
    ("New York", 40.7128, -74.0060),
    ("Los Angeles", 34.0522, -118.2437),
    ("Chicago", 41.8781, -87.6298),
]

In [334]:
loc.sort()
print(loc)

[('Chicago', 41.8781, -87.6298), ('Los Angeles', 34.0522, -118.2437), ('New York', 40.7128, -74.006)]

In [335]:
lockname = [item[0] for item in loc]
print(lockname)

['Chicago', 'Los Angeles', 'New York']

In [336]:
sub_loc = loc[:2] 
print(sub_loc)

[('Chicago', 41.8781, -87.6298), ('Los Angeles', 34.0522, -118.2437)]

## Exercise 9: Dictionary Operations

Using the dictionary from Exercise 6, perform the following tasks:

1. Check if the key "Length" exists in the dictionary.
2. Print all the keys in the dictionary.
3. Print all the values in the dictionary.

In [337]:
river_attributes.get("Length")

6992

In [338]:
river_attributes.keys()

dict_keys(['name', 'Length', 'countries', 'river_discharge'])

In [339]:
river_attributes.values()

dict_values(['Amazon River', 6992, ('Brazil', 'Peru', 'Colombia'), 209000])

## Exercise 10: Practical Application

Imagine you have a list of tuples, each representing a location with its name, latitude, and longitude:

In [340]:
locations = [
    ("Mount Everest", 27.9881, 86.9250),
    ("K2", 35.8808, 76.5155),
    ("Kangchenjunga", 27.7025, 88.1475),
]

Perform the following tasks:

1. Create a new list that contains only the names of the locations.
2. Create a dictionary where the keys are location names and the values are tuples of their coordinates.
3. Print the latitude of "K2" using the dictionary.

In [341]:
cits = [item[0] for item in locations]
print(cits)

['Mount Everest', 'K2', 'Kangchenjunga']

In [342]:
ln_attributes = {
    "Mount Everest": (27.9881, 86.9250),
    "K2": (35.8808, 76.5155),
    "Kangchenjunga": (27.7025, 88.1475),
}

In [343]:
MountEverest = ln_attributes["Mount Everest"]
K2= ln_attributes["K2"]
Kangchenjunga = ln_attributes["Kangchenjunga"]

In [345]:
print(K2)

(35.8808, 76.5155)

## Exercise 11: Manipulating Geographic Location Strings

- Create a string that represents the name of a geographic feature (e.g., `"Amazon River"`).
- Convert the string to lowercase and then to uppercase.
- Concatenate the string with the name of the country (e.g., `"Brazil"`) to create a full location name.
- Repeat the string three times, separating each repetition with a dash (`-`).

In [346]:
geo_name = "Smokey Mountains"

In [347]:
geo_name_lower = geo_name.lower()
print(geo_name_lower)

smokey mountains

In [348]:
geo_name_upper = geo_name.upper()
print(geo_name_upper)

SMOKEY MOUNTAINS

In [349]:
geo_name_full = geo_name + ", U.S.A."
print(geo_name_full)

Smokey Mountains, U.S.A.

In [350]:
str(f"{geo_name_full}-" * 3)[:-1]

'Smokey Mountains, U.S.A.-Smokey Mountains, U.S.A.-Smokey Mountains, U.S.A.'

## Exercise 12: Extracting and Formatting Coordinates

- Given a string with the format `"latitude, longitude"` (e.g., `"40.7128N, 74.0060W"`), extract the numeric values of latitude and longitude.
- Convert these values to floats and remove the directional indicators (`N`, `S`, `E`, `W`).
- Format the coordinates into a `POINT` WKT string (e.g., `"POINT(-74.0060 40.7128)"`).

In [351]:
coord_string = "40.7128N, 74.0060E"
lat_str, lon_str = coord_string.split(", ")
latitude = float(lat_str[:-1])  
longitude = float(lon_str[:-1]) 
print(f"Point: ({latitude}, {longitude})")

Point: (40.7128, 74.006)

## Exercise 13: Building Dynamic SQL Queries

- Given a table name and a condition, dynamically build an SQL query string.
- Example: If `table_name = "cities"` and `condition = "population > 1000000"`, the query should be `"SELECT * FROM cities WHERE population > 1000000;"`.
- Add additional conditions dynamically, like `AND` clauses.

In [352]:
table_name = "food"
condition = "genre = Mexican" 
condition2 = "spicy"
sql_query = f"SELECT * FROM {table_name} WHERE {condition} AND {condition2};"
print(sql_query)

SELECT * FROM food WHERE genre = Mexican AND spicy;

## Exercise 14: String Normalization and Cleaning

- Given a list of city names with inconsistent formatting (e.g., `[" new york ", "Los ANGELES", "   CHICAGO"]`), normalize the names by:
  - Stripping any leading or trailing whitespace.
  - Converting them to title case (e.g., `"New York"`, `"Los Angeles"`, `"Chicago"`).
- Ensure that the output is a clean list of city names.

In [353]:
citn = [" new york", "Los ANGELES ", " CHICAGO"]
print(citn)

[' new york', 'Los ANGELES ', ' CHICAGO']

In [354]:
for item in citn:
    itemstri = item.strip() 
    print(itemstri)

new york
Los ANGELES
CHICAGO

In [355]:
citnorm = [country.strip().title() for country in citn]
print(citnorm)

['New York', 'Los Angeles', 'Chicago']

## Exercise 15: Parsing and Extracting Address Information

- Given a string in the format `"Street, City, Country"` (e.g., `"123 Main St, Springfield, USA"`), write a function that parses the string into a dictionary with keys `street`, `city`, and `country`.
- The function should return a dictionary like `{"street": "123 Main St", "city": "Springfield", "country": "USA"}`.

In [356]:
address = "123 Main St, Springfield, USA"
street, city, country = address.split(", ")
print(f"Street: {street}, City: {city}, Country: {country}")

Street: 123 Main St, City: Springfield, Country: USA

## Exercise 16: Using For Loops to Process Coordinate Lists

- Create a list of tuples representing coordinates (latitude, longitude).
- Write a `for` loop that prints each coordinate and indicates whether it is in the Northern or Southern Hemisphere based on the latitude.

In [359]:
coordinates = [
    (65.4563, 90.6732),
    (40.3498, -120.6893),
    (11.5432, -5.3995),
]

In [360]:
for lat, lon in coordinates:
    if lat > 0:
        hemisphere = "Northern"
    else:
        hemisphere = "Southern"

    print(
        f"The coordinate ({lat}, {lon}) is in the {hemisphere} Hemisphere."
    )

The coordinate (65.4563, 90.6732) is in the Northern Hemisphere.
The coordinate (40.3498, -120.6893) is in the Northern Hemisphere.
The coordinate (11.5432, -5.3995) is in the Northern Hemisphere.

## Exercise 17: While Loops for Iterative Processing

- Create a list of coordinates (latitude, longitude).
- Write a `while` loop that continues to print each coordinate until it encounters a coordinate with a negative latitude.
- Stop the loop once this condition is met.

In [361]:
coord = [
    (67.4563, 99.6732),
    (-41.3498, -123.6893),
    (12.5432, -9.3995),
]

In [362]:
counter = 0
while counter < len(coord):
    lat, lon = coord[counter]
    print(f"Processing coordinate: ({lat}, {lon})")
    if lat <0 : 
        break
    counter += 1

Processing coordinate: (67.4563, 99.6732)
Processing coordinate: (-41.3498, -123.6893)

## Exercise 18: Conditional Logic in Loops

- Create a list of coordinates and use a `for` loop to iterate over them.
- Use an `if-elif-else` statement inside the loop to classify each coordinate based on its longitude:
  - Print `"Eastern Hemisphere"` if the longitude is greater than 0.
  - Print `"Western Hemisphere"` if the longitude is less than 0.

In [363]:
coords = [
    (63.4563, 93.6732),
    (42.3498, -127.6893),
    (17.5432, -4.3995),
]

In [364]:
for lat, lon in coordinates:
   
    if lon > 0:
        direction = "Eastern"
    else:
        direction = "Western"

    print(
        f"The coordinate ({lat}, {lon}) is in {direction} Hemisphere."
    )

The coordinate (65.4563, 90.6732) is in Eastern Hemisphere.
The coordinate (40.3498, -120.6893) is in Western Hemisphere.
The coordinate (11.5432, -5.3995) is in Western Hemisphere.

## Exercise 19: Filtering Data with Combined Loops and Conditionals

- Given a list of coordinates, filter out and store only those located in the Southern Hemisphere (latitude < 0).
- Count the number of coordinates that meet this condition and print the result.

In [365]:
cds = [
    (63.4563, 93.6732),
    (-42.3498, -127.6893),
    (17.5432, -4.3995),
]

In [366]:
filtered_cds = []
for lat, lon in cds:
    if lat < 0:
        filtered_cds.append((lat, lon))
print(f"Filtered coordinates (in the southern hemisphere): {filtered_cds}")

Filtered coordinates (in the southern hemisphere): [(-42.3498, -127.6893)]

## Exercise 20: Generating and Analyzing Random Coordinates

- Write a program that generates random coordinates (latitude between [-90, 90] degrees and longitude between [-180, 180] degrees).
- Use a `while` loop to keep generating coordinates until a pair with both latitude and longitude greater than 50 is generated.
- Print each generated coordinate and the final coordinate that meets the condition.

In [289]:
import random

def generate_coordinates():
    while True:
        latitude = random.uniform(-90, 90)
        longitude = random.uniform(-180, 180)
        print(f"Latitude: {latitude}, Longitude: {longitude}")
        if latitude > 50 or longitude > 50:
            break

generate_coordinates()

Latitude: 78.09110285647344, Longitude: 65.50881762117734